<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
    <head th:insert="~{layout/plantilla :: head}"></head>

    <body>
        <header th:replace="~{layout/plantilla :: header}"/>
        <div class="contenido">
            <section th:replace="~{tabla/fragmentos :: botonesTablas}"/>
            <section th:replace="~{tabla/fragmentos :: agregarNuevaTabla}"/>

            <section class="container-fluid py-4 pt-2">
                <div class="row">
                    <div>
                        <section th:replace="~{tabla/fragmentos :: TablaListado}"/>

                    </div>
                </div>
            </section>
        </div>
        <footer th:replace="~{layout/plantilla :: footer}"/>
        <script>
            function agregarColumna() {
            let columnasContainer = document.getElementById("columnasContainer");
            let row = document.createElement("div");
            row.classList.add("row", "mb-3");
            row.innerHTML = `
                    <div class="col">
                        <label for="nombreColumna" class="form-label">Nombre de la Columna</label>
                        <input type="text" class="form-control" name="nombreColumna[]" required>
                    </div>
                    <div class="col">
                        <label for="tipoColumna" class="form-label">Tipo de Datos</label>
                        <select class="form-select" name="tipoColumna[]" required>
                            <option value="INT">INT</option>
                            <option value="VARCHAR(255)">VARCHAR</option>
                            <option value="DECIMAL(10,2)">DECIMAL</option>
                            <option value="DATE">DATE</option>
                        </select>
                    </div>
                    <div class="col-auto">
                        <button type="button" class="btn btn-danger mt-4" onclick="eliminarColumna(this)">Eliminar</button>
                    </div>
                `;
            columnasContainer.appendChild(row);
            }

            function eliminarColumna(button) {
            let row = button.closest(".row");
            row.remove();
            }

            document.querySelectorAll('.btn-danger[data-bs-toggle="modal"]').forEach(boton => {
            boton.addEventListener('click', function (event) {
            const idTabla = event.currentTarget.getAttribute('data-id');
            const urlOcultar = '/tabla/ocultar/' + idTabla;
            document.getElementById('ocultarConfirmado').setAttribute('href', urlOcultar);
            });
            });

        </script>

    </body>
</html>
