<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
    <head th:replace="layout/plantilla :: head"></head>
    <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <title>Cuenta de Usuario</title>
            </head>
            <body>
                <section th:replace="layout/plantilla :: header"/>
                <div class="contenido">
                    <section th:replace="planes/fragmentos :: plantilla-planes"/>
                </div>
                <footer th:replace="layout/plantilla :: footer"/>
            </body>
            </html>